<main>
  <li *ngFor="let movie of movies">
    <mat-card class = "film-form">
      <mat-card-header>
        <mat-card-title> <p>Title : {{movie.title}} </p></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Description : {{movie.description}}</p>
        <p>Language : {{movie.language.name}}</p>
        <p>Rental Duration : {{movie.rental_duration}} days</p>
        <p>Replacement Cost : {{movie.replacement_cost}} $</p>
        <p>Category : {{movie.category[0].name}}</p>
      </mat-card-content>
      <mat-card-actions>
        <span>Want to book that Film?</span>
        <span><button mat-raised-button class = "yes">Yes</button></span>
        <span><button mat-raised-button class = "no" color="accent" routerLink="/films">No</button></span>
      </mat-card-actions>
    </mat-card>
  </li>
</main>
