lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

node_modules

server/node_modules
server/pids
server/logs
server/results
server/build

front/node_modules
front/pids
front/logs
front/results
front/build
