
h1{
  max-width: 100%;
  text-align: center;
}

.book{
  color: #C70042;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  text-align: center;
}
book ng-tns-c1351155106-2{
  text-align: center;
}

.reset{
  font-weight: bold;
  font-size: large;
  background: #C70042;
}

li{
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
}

.reset{
  margin: 20px 5px 20px 20px;
}

.filter{
  margin-top: 20px;
}

.film-card{
  width: 100%;
  align-items: center;
}

mat-accordion{
  width: 100%;
  align-items: center;
  text-align: center;
}

mat-content ng-tns-c1351155106-2 mat-content-hide-toggle{
  align-items: center;
}

.layer-card{
  font-weight: normal;
  color: black;
  width: 100%;
  align-items: center;
}

.page_button{
  width: 100%;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
}

.mdc-button__label{
  align-items: center;
  text-align: center;
  align-content: center;
  margin : 0 0 0 0;
}

