
.book{
  color: deeppink;
  font-weight: bolder;
  cursor: pointer;
}
book ng-tns-c1351155106-2{
  text-align: center;
}

.reset{
  font-weight: bold;
}

li{
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
}

.reset{
  margin: 20px 5px 20px 20px;
}

.filter{
  margin-top: 20px;
}

.film-card{
  width: 100%;
  align-items: center;
}

mat-accordion{
  width: 100%;
  align-items: center;
  text-align: center;
}

mat-content ng-tns-c1351155106-2 mat-content-hide-toggle{
  align-items: center;
}
