<div *ngIf="!ishistory; else movie">

  <div *ngIf="loading">
    Loading ...
  </div>
  <div *ngIf="error">
    Error :(
  </div>
  <main>
    <div *ngIf = "history">
      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="history">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let rental_event"> {{rental_event.amount}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let rental_event"> {{toDate(rental_event.payment_date)}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
            <mat-cell *matCellDef="let rental_event"> {{rental_event.weight}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let rental_event"> {{rental_event.symbol}} </mat-cell>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column -->
          <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let rental_event">
              The symbol for {{rental_event.amount}} is {{rental_event.amount}}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"
            matRipple
            class="element-row"
            [class.expanded]="true"> -->
            <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>

            <!-- <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
              [@detailExpand]="row.element != expandedElement ? 'expanded' : 'expanded'"
              style="overflow: hidden">
            </mat-row> -->

        </mat-table>
      </div>

    </div>
  </main>
</div>
<ng-template #movie>
  <p>...</p>
</ng-template>


