div {
  /*creates space around an element's content*/
  padding-right: 1rem;
  display: inline-block;
}

button{
  margin-right: 1vw;
  font-size: 20px;
  font-weight: bold;
  height: auto;
  width: auto;
}

@media only screen and (max-width: 819px){

  div {
    /*creates space around an element's content*/
    padding-right: 1rem;
    display: block;
  }
}
