<main>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="login">
      <mat-card>
      <mat-form-field class = "email_form">
        <mat-label>Email</mat-label>
        <input matInput type="text" name="email" ngModel required email>
      </mat-form-field>
      <mat-form-field class = "password_form">
        <mat-label >Password</mat-label >
        <input type = "password" matInput type="password" name="password" ngModel required>
      </mat-form-field>
        <div *ngIf="error">
          <p>{{errorMessage}}</p>
        </div>
      <button mat-raised-button color="accent" type="submit" [disabled]="!loginForm.valid" (click)="onClick()">Login</button>
    </mat-card>
    </div>
  </form>
</main>

