/*Instantiate class in css for the navbar*/
.navbar{
  /*how the browser distributes space between and around content items along the main-axis of a flex
  container, and the inline axis of a grid container*/
  justify-content: space-between;
  color: white;
  /*property controls what happens to content that's too big to fit in the area*/
  overflow: auto;
  font-size : larger;
  /*forcing width of navbar -> as bigger as the viewport*/
  width : 100vw;
}

.components{
  display : inline;
}

@media only screen and (max-width: 819px){
  .navbar{
    display: block;
    justify-content: flex-start;
    overflow: unset;
    height: fit-content;
  }

  .components{
    display : block;
    justify-items: flex-start;
  }
}

p{
  font-weight: normal;
  font-size: x-large;
}
